* {
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    list-style: none;
}

li div {
    margin: 15px;
    display: flex;
    flex-direction: row;
    border: 1px blue solid;
    padding: 10px;
    border-radius: 20px;
    cursor: grab;
}

li div img {
    width: 100px;
    height: 120px;
}

.details {
    margin: 0;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}