* {
    margin: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 2.5rem;
}

body {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to right, rgb(230, 218, 218), rgb(39, 64, 70));
}

li {
    margin-top: 30px;
    
    
}

a {
    text-decoration: none;
    font-size: 1.6rem;
    color: black;
}

a:hover{
    text-decoration: underline;
    transform: translate(50%, 50%);
}

ul {
    margin-top: 25px;
    margin-bottom: 40px;
}

.add {
    background-color: rgba(149, 248, 235, 0.288);
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
}

.add span {
    font-size: 1.5rem;
    margin-right: 10px;
}

.add:hover, .add-form button:hover{
    transform: scale(1.04);
}

.add-form {
    margin-bottom: 20px;
}

.add-form input, button {
    padding: 5px;
}

.add-form button {
    background-color: rgba(149, 248, 235, 0.288);
    border: none;
    cursor: pointer;
}

.disp-none {
    display: none;
}